body
{
    	background-color: #e0ebeb;
	    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1
{
	    	color: #283e3e;
}
h2
{
	    	color: #283e3e;
}
h4
{
		    color: #283e3e;
		    font-weight: bold;
		    width: 30em;
		    text-align: right;
} 
p
{
	    	color: #283e3e;
}
label
{
	    	float: left;
	    	width: 30em;
	    	text-align: right;
}
input
{
	    	margin-left: 1em;
	    	margin-right: 1em;
	    	margin-bottom: .5em;
	    	width: 11em;
}
span
{
	    	color: red;
}
a:link 
{
    color: blue;
}
a:hover 
{
    color: red;
}